In [6]:
import pandas as pd
from sklearn import linear_model

In [7]:
df=pd.read_csv("homeprices.csv")

In [8]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
df.bedrooms.fillna(df.bedrooms.median(),inplace=True)

In [10]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
reg=linear_model.LinearRegression()

In [13]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [14]:
reg.predict([[2300,4,10]])

C:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([540304.95955774])

In [15]:
import pickle

In [16]:
f=open('trainedmodel','wb')

In [17]:
pickle.dump(reg,f)

In [23]:
# here i learn how to save the train model 
# this train model we can use later without training it again
# we can share this as well.

NameError: name 'joblib' is not defined